.thumbnail img{
	width: 100%;
}
.thumbnail{
	padding: 0;
}
.thumbnail .caption-full{
	padding: 9px;
}

#delete-form{
	display: inline;
}
p{
	font-size: 16px;
}
h4{
	font-size: 50px;
	font-family: 'Bangers', cursive;
}